[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "*"
keras = "*"
tensorflow = "*"
numpy = "*"
matplotlib = ">=2.1.0"
setuptools = ">=18.0"
cython = ">=0.27.3"
pycocotools = {editable = true,path = "./src/cocoapi"}
scikit-learn = "*"
scikit-image = "*"

[requires]
python_version = "3.7"
